ul,
li,
div,
p {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

body {
  background: #febfca;
  color: #911946;
}

a {
  text-decoration: none;
  color: #911946;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

#logoWrapper {
  width: 260px;
  height: 260px;
  background: #fff;
  clip-path: circle(50%);
  margin-top: 55px;
}

.title {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.8rem;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1.5rem;
}

.menuItems {
  display: inline;
}

#semiCir {
  display: inline-block;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}

#app {
  height: 100vh;
}

.linkImgWrapper {
  width: 140px;
  height: 140px;
  clip-path: polygon(
    0 10%,
    10% 0,
    90% 0,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0 90%
  );
}

.linkImg {
  width: 200px;
  height: auto;
}
