ul li, p {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

body {
  background: #febfca;
  color: #911946;
}

a {
  text-decoration: none;
  color: #911946;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

#logoSection{

}

#logoWrapper {
  width: 260px;
  height: 260px;
  background: #fff;
  clip-path: circle(50%);
  margin-top: 40px;
}

.title {
  font-family: "Limelight", cursive;
  color: #fff;
  font-size: 2rem;
}

.menu {
  display: inline-block;
}

.menuItems {
  display: inline;
}


#semiCir {
  display: inline-block;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
}
